<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap-grid.css">
    <link type="text/javascript" href="~/lib/bootstrap/dist/js/bootstrap.min.js">

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
